{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="row justify-content-md-center">
        {% for concert in object_list %}
            <div class="col-md-auto">
                <div class="card-1">
                            <div class="accent-1 date">23 Sep</div>
                            <a href="/concerts/{{ concert.id }}"><div class="band-name">{{ concert.artist }}</div></a>
                            <div class="concert-location"> {{ concert.venue }}</div>
                            <img src="{{ concert.image }}" alt="Some artist" class="artist-image img">
                        </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
